﻿<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="msapplication-TileColor" content="#2d89ef">

    <meta name="theme-color" content="#4188c9">

    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">


    <title>@ViewData["Title"] - ASP.NET</title>

    <!-- Style -->
    @await Html.PartialAsync("PartialStyle")
    <!-- Script -->
    @await Html.PartialAsync("PartialScript")

</head>

<body class="">
    <div class="page">
        <div class="page-main">
            <!--Header -->
            @await Html.PartialAsync("PartialHeader")

            @await Html.PartialAsync("PartialNavigate")

            <div class="my-3 my-md-5">
                <!--Content -->
              @RenderBody()

            </div>
        </div>

        @await Html.PartialAsync("PartialFooter")
    </div>

</body>
</html>