﻿@*
    STYLE - <link>
*@

<link rel="icon" href="~/images/logo.svg">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">
@*
    asp-append-version выбрал для cash
*@
<link href="~/css/dashboard.css" rel="stylesheet" asp-append-version="true" />
<link href="~/plugins/charts-c3/plugin.css" rel="stylesheet" asp-append-version="true" />
<link href="~/plugins/maps-google/plugin.css" rel="stylesheet" asp-append-version="true" />