﻿@*
    Scripts - <script>
*@
<script src="~/js/require.min.js" asp-append-version="true"></script>
<script>
    requirejs.config({
        baseUrl: '@Url.Content("~/")'
    });
</script>

<script src="~/js/dashboard.js" asp-append-version="true"></script>

<script src="~/plugins/charts-c3/plugin.js" asp-append-version="true"></script>

<script src="~/plugins/maps-google/plugin.js" asp-append-version="true"></script>

<script src="~/plugins/input-mask/plugin.js" asp-append-version="true"></script>

