﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Gallery";

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="page-header">
        <h1 class="page-title">
            Gallery
        </h1>
        <div class="page-subtitle">1 - 12 of 1713 photos</div>
        <div class="page-options d-flex">
            <select class="form-control custom-select w-auto">
                <option value="asc">Newest</option>
                <option value="desc">Oldest</option>
            </select>
            <div class="input-icon ml-2">
                <span class="input-icon-addon">
                    <i class="fe fe-search"></i>
                </span>
                <input type="text" class="form-control w-10" placeholder="Search photo">
            </div>
        </div>
    </div>
    <div class="row row-cards">
        <div class="col-sm-6 col-lg-4">
            <div class="card p-3">
                <a href="javascript:void(0)" class="mb-3">
                    <img src="~/images/photos/grant-ritchie-338179-500.jpg" alt="Photo by Nathan Guerrero" class="rounded">
                </a>
                <div class="d-flex align-items-center px-2">
                    <div class="avatar avatar-md mr-3" style="background-image: url('@Url.Content("~/images/faces/male/41.jpg")')"></div>
                    <div>
                        <div>Nathan Guerrero</div>
                        <small class="d-block text-muted">12 days ago</small>
                    </div>
                    <div class="ml-auto text-muted">
                        <a href="javascript:void(0)" class="icon"><i class="fe fe-eye mr-1"></i> 112</a>
                        <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i class="fe fe-heart mr-1"></i> 42</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4">
            <div class="card p-3">
                <a href="javascript:void(0)" class="mb-3">
                    <img src="~/images/photos/ilnur-kalimullin-218996-500.jpg" alt="Photo by Alice Mason" class="rounded">
                </a>
                <div class="d-flex align-items-center px-2">
                    <div class="avatar avatar-md mr-3" style="background-image: url('@Url.Content("~/images/faces/female/1.jpg")')"></div>
                    <div>
                        <div>Alice Mason</div>
                        <small class="d-block text-muted">12 days ago</small>
                    </div>
                    <div class="ml-auto text-muted">
                        <a href="javascript:void(0)" class="icon"><i class="fe fe-eye mr-1"></i> 70</a>
                        <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i class="fe fe-heart mr-1"></i> 0</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4">
            <div class="card p-3">
                <a href="javascript:void(0)" class="mb-3">
                    <img src="~/images/photos/jakob-owens-224352-500.jpg" alt="Photo by Rose Bradley" class="rounded">
                </a>
                <div class="d-flex align-items-center px-2">
                    <div class="avatar avatar-md mr-3" style=" background-image:  url('@Url.Content("~/images/faces/female/18.jpg")')"></div>
                    <div>
                        <div>Rose Bradley</div>
                        <small class="d-block text-muted">4 days ago</small>
                    </div>
                    <div class="ml-auto text-muted">
                        <a href="javascript:void(0)" class="icon"><i class="fe fe-eye mr-1"></i> 166</a>
                        <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i class="fe fe-heart mr-1"></i> 96</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4">
            <div class="card p-3">
                <a href="javascript:void(0)" class="mb-3">
                    <img src="~/images/photos/jeremy-bishop-330225-500.jpg" alt="Photo by Peter Richards" class="rounded">
                </a>
                <div class="d-flex align-items-center px-2">
                    <div class="avatar avatar-md mr-3" style="background-image: url('@Url.Content("~/images/faces/female/16.jpg")')"></div>
                    <div>
                        <div>Peter Richards</div>
                        <small class="d-block text-muted">18 days ago</small>
                    </div>
                    <div class="ml-auto text-muted">
                        <a href="javascript:void(0)" class="icon"><i class="fe fe-eye mr-1"></i> 76</a>
                        <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i class="fe fe-heart mr-1"></i> 6</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4">
            <div class="card p-3">
                <a href="javascript:void(0)" class="mb-3">
                    <img src="~/images/photos/jonatan-pie-226191-500.jpg" alt="Photo by Wayne Holland" class="rounded">
                </a>
                <div class="d-flex align-items-center px-2">
                    <div class="avatar avatar-md mr-3" style="        background-image: url('@Url.Content("~/images/faces/female/15.jpg")')"></div>
                    <div>
                        <div>Wayne Holland</div>
                        <small class="d-block text-muted">16 days ago</small>
                    </div>
                    <div class="ml-auto text-muted">
                        <a href="javascript:void(0)" class="icon"><i class="fe fe-eye mr-1"></i> 106</a>
                        <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i class="fe fe-heart mr-1"></i> 36</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4">
            <div class="card p-3">
                <a href="javascript:void(0)" class="mb-3">
                    <img src="~/images/photos/josh-calabrese-66153-500.jpg" alt="Photo by Michelle Ross" class="rounded">
                </a>
                <div class="d-flex align-items-center px-2">
                    <div class="avatar avatar-md mr-3" style="background-image: url('@Url.Content("~/images/faces/female/13.jpg")')"></div>
                    <div>
                        <div>Michelle Ross</div>
                        <small class="d-block text-muted">4 days ago</small>
                    </div>
                    <div class="ml-auto text-muted">
                        <a href="javascript:void(0)" class="icon"><i class="fe fe-eye mr-1"></i> 77</a>
                        <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i class="fe fe-heart mr-1"></i> 7</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4">
            <div class="card p-3">
                <a href="javascript:void(0)" class="mb-3">
                    <img src="~/images/photos/joshua-earle-157231-500.jpg" alt="Photo by Debra Beck" class="rounded">
                </a>
                <div class="d-flex align-items-center px-2">
                    <div class="avatar avatar-md mr-3" style="        background-image: url('@Url.Content("~/images/faces/female/14.jpg")')"></div>
                    <div>
                        <div>Debra Beck</div>
                        <small class="d-block text-muted">6 days ago</small>
                    </div>
                    <div class="ml-auto text-muted">
                        <a href="javascript:void(0)" class="icon"><i class="fe fe-eye mr-1"></i> 150</a>
                        <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i class="fe fe-heart mr-1"></i> 80</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4">
            <div class="card p-3">
                <a href="javascript:void(0)" class="mb-3">
                    <img src="~/images/photos/mahkeo-222765-500.jpg" alt="Photo by Phillip Peters" class="rounded">
                </a>
                <div class="d-flex align-items-center px-2">
                    <div class="avatar avatar-md mr-3" style="background-image: url('@Url.Content("~/images/faces/male/30.jpg")')"></div>
                    <div>
                        <div>Phillip Peters</div>
                        <small class="d-block text-muted">17 days ago</small>
                    </div>
                    <div class="ml-auto text-muted">
                        <a href="javascript:void(0)" class="icon"><i class="fe fe-eye mr-1"></i> 153</a>
                        <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i class="fe fe-heart mr-1"></i> 83</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4">
            <div class="card p-3">
                <a href="javascript:void(0)" class="mb-3">
                    <img src="~/images/photos/matt-barrett-339981-500.jpg" alt="Photo by Jack Ruiz" class="rounded">
                </a>
                <div class="d-flex align-items-center px-2">
                    <div class="avatar avatar-md mr-3" style="background-image:url('@Url.Content("~/images/faces/male/32.jpg")')"></div>
                    <div>
                        <div>Jack Ruiz</div>
                        <small class="d-block text-muted">15 days ago</small>
                    </div>
                    <div class="ml-auto text-muted">
                        <a href="javascript:void(0)" class="icon"><i class="fe fe-eye mr-1"></i> 143</a>
                        <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i class="fe fe-heart mr-1"></i> 73</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4">
            <div class="card p-3">
                <a href="javascript:void(0)" class="mb-3">
                    <img src="~/images/photos/nathan-anderson-297460-500.jpg" alt="Photo by Ronald Bradley" class="rounded">
                </a>
                <div class="d-flex align-items-center px-2">
                    <div class="avatar avatar-md mr-3" style="background-image: url('@Url.Content("~/images/faces/male/30.jpg")')"></div>
                    <div>
                        <div>Ronald Bradley</div>
                        <small class="d-block text-muted">11 days ago</small>
                    </div>
                    <div class="ml-auto text-muted">
                        <a href="javascript:void(0)" class="icon"><i class="fe fe-eye mr-1"></i> 149</a>
                        <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i class="fe fe-heart mr-1"></i> 79</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4">
            <div class="card p-3">
                <a href="javascript:void(0)" class="mb-3">
                    <img src="~/images/photos/nathan-anderson-316188-500.jpg" alt="Photo by Kathleen Harper" class="rounded">
                </a>
                <div class="d-flex align-items-center px-2">
                    <div class="avatar avatar-md mr-3" style="background-image: url('@Url.Content("~/images/faces/female/14.jpg")')"></div>
                    <div>
                        <div>Kathleen Harper</div>
                        <small class="d-block text-muted">16 days ago</small>
                    </div>
                    <div class="ml-auto text-muted">
                        <a href="javascript:void(0)" class="icon"><i class="fe fe-eye mr-1"></i> 164</a>
                        <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i class="fe fe-heart mr-1"></i> 94</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4">
            <div class="card p-3">
                <a href="javascript:void(0)" class="mb-3">
                    <img src="~/images/photos/nathan-dumlao-287713-500.jpg" alt="Photo by Bobby Knight" class="rounded">
                </a>
                <div class="d-flex align-items-center px-2">
                    <div class="avatar avatar-md mr-3" style="background-image: url('@Url.Content("~/images/faces/male/4.jpg")')"></div>
                    <div>
                        <div>Bobby Knight</div>
                        <small class="d-block text-muted">6 days ago</small>
                    </div>
                    <div class="ml-auto text-muted">
                        <a href="javascript:void(0)" class="icon"><i class="fe fe-eye mr-1"></i> 160</a>
                        <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i class="fe fe-heart mr-1"></i> 90</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>